.contact{
	background: #aed19b;
}
.contact_wrapper{
	width: 1200px;
	margin: 0 auto;
	padding: 30px;
	font-family: 'roboto';
}

.contact h2{
	font-weight: bold;
}

.contact img{
	width: 30px;
	vertical-align:middle;
}

.contact__left, .contact__right{
	width:45%;
	text-align:center;
	display:inline-block;
	vertical-align: middle;
}
.map_wrapper{
	display: inline-block;
	vertical-align: top;
	background: #fbd149;
	padding: 10px;
}