.welcome{
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-bottom:4%;
    position: relative;
}
.f1{
	background-image: url('../img/background_03.png');
	background-size: 600px 300px;
	height: 300px;
	width: 600px;
	float: left;
	}
.f2{
	background-image: url('../img/background_05.png');
	background-size: 600px 300px;
	height: 300px;
	width: 600px;
	float: right;
}
/*.f1:hover{
	opacity: 0.7;
}*/
/*.f2:hover{
	opacity: 0.7;
}*/
.logof{
	background-image: url('../img/lupa.png');
	width : 60px;
	height: 60px;
	display: none;
}
.f1:hover .logof{
	position: absolute;
	top: 120px;
	left: 300px;
	display: block;
}
.logos{
	background-image: url('../img/lupa.png');
	width : 60px;
	height: 60px;
	display: none;
}
.f2:hover .logos{
	position: absolute;
	top: 120px;
	right: 300px;
	display: block;
}
.f3{
	background-image: url('../img/background_08.png');
	background-size: 600px 300px;
	height: 300px;
	width: 600px;
	float: left;
}
.logot{
	background-image: url('../img/lupa.png');
	width : 60px;
	height: 60px;
	display: none;
}
/*.f3:hover{
	opacity: 0.7;
}*/
.f3:hover .logot{
	position: absolute;
	bottom: 120px;
	left: 300px;
	display: block;
	}
.f4{
	background-image: url('../img/background_10.png');
	background-size: 600px 300px;
	height: 300px;
	width: 600px;
	float: right;
}
.logof{
	background-image: url('../img/lupa.png');
	width : 60px;
	height: 60px;
	display: none;
}
/*.f4:hover{
	opacity: 0.7;
}*/
.f4:hover .logof{
	position: absolute;
	bottom: 120px;
	right: 300px;
	display: block;
	}
.left{
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/background_sides_03.png');
	background-size: 300px 600px;
	height: 600px;
	width: 300px;
}
.logo_left{
	background-image: url('../img/lupa.png');
	width : 60px;
	height: 60px;
	display: none;
}
/*.left:hover{
	opacity: 0.7;
}*/
.left:hover .logo_left{
	position: absolute;
	top: 270px;
	left: 120px;
	display: block;
}
.right{
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('../img/background_sides_07.png');
	background-size: 300px 600px;
	height: 600px;
	width: 300px;
}
.logo_right{
	background-image: url('../img/lupa.png');
	width : 60px;
	height: 60px;
	display: none;
}
/*.right:hover{
	opacity: 0.7;
}*/
.right:hover .logo_right{
	position: absolute;
	top: 270px;
	right: 120px;
	display: block;
}
#logo{
	direction: block;
	width: 400px;
	height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.fi{
	background-image: url('../img/1.jpg');
	width: 1200px;
	height:600px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 23;
	display: none;
}
.f1:active .fi{
	display: block;
}
.fb{
	background-image: url('../img/2.jpg');
	width: 1200px;
	height:600px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 23;
	display: none;
}
.f2:active .fb{
	display: block;
}
.fr{
	background-image: url('../img/3.jpg');
	width: 1200px;
	height:600px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 23;
	display: none;
}
.f3:active .fr{
	display: block;
}
.fg{
	background-image: url('../img/4.jpg');
	width: 1200px;
	height:600px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 23;
	display: none;
}
.f4:active .fg{
	display: block;
}
.fl{
	background-image: url('../img/l.jpg');
	width: 1200px;
	height:600px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 23;
	display: none;
}
.left:active .fl{
	display: block;
}
.fn{
	background-image: url('../img/r.jpg');
	width: 1200px;
	height:600px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 23;
	display: none;
}
.right:active .fn{
	display: block;
}
.about{
	width: 1200px;
	height: 500px;
	margin: auto;
}
.about_image{
	width: 600px;
	height: 382px;
	background-image: url('../img/about.jpg');
	margin-left: 0%;
	margin-top: -35%;
	float: left;
}
#this{
	font-family: 'roboto';
	margin-right: 28%;
	color:#fbd149;
	float: right;
}
#text{
	padding-top: 4%;
	margin-left: 66%;
	font-family: 'roboto';
	color: #7f7f7f;
}
li{
	word-spacing: 4px;
	line-height: 28px;
	list-style-type: circle;
}

.about:after{
	content: "";
	clear: both;
}
.welcome:after{
	content: "";
	clear: both;
}
